<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.PERSONNEL_TRACKINGConnectionString"
            connectionString="Data Source=ARITRA\SQLEXPRESS;Initial Catalog=&quot;PERSONNEL TRACKING&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>